.facebook-login {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: #4C69BA;
  color: #FFF;
  transition: background-color 300ms ease-out;
}

.facebook-login:hover {
  background-color: #4F70CA
}
