{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "extends": ["plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "globals": {
    "FB": false
  },
  "rules": {
    "react/no-multi-comp": 0,
    "no-undef": 0
  }
}
