{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "globals": {
    "FB": false
  },
  "rules": {
    "react/no-multi-comp": 0
  }
}
